.chessboard {
   display: flex;
   flex-wrap: wrap;
   background-color: #B66031;
   border: 30px solid #5786bd;
   border-radius: 10px;
   width: 640px;
   height: 640px;
}

.tile {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80px;
   height: 80px;
}

.light-tile {
   background-color: beige;
}

.dark-tile {
   background-color: #4D6D92;
}